<!DOCTYPE html>
<!-- the ejs is converted to html and re sent it to the browser -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FirstMyCoffee Rita</title>
</head>
<body>
    <h1>Hi!! my new coffee app!! </h1>
</body>
</html>