<!-- <footer class="footer unique-color-dark">
    <div class="container text-center" unique-color-dark class="text-white" py-3 >&copy; Rita Gz - 2018284</div>
    <div class="footer-copyright text-center text-black py-3 unique-color-dark">© 2021 Copyright RitaGomez.com - 2018284
        <a href="https://mdbootstrap.com/"> </a>
    </div>
</footer> -->


</body>

</html>

<!-- NOOOOOOT USING IT!!!!! -->